@import "tailwindcss";

@theme {
    --color-scissors-dark: hsl(39, 89%, 49%);
    --color-scissors-light: hsl(40, 84%, 53%);
    --color-paper-dark: hsl(230, 89%, 62%);
    --color-paper-light: hsl(230, 89%, 65%);
    --color-rock-dark: hsl(349, 71%, 52%);
    --color-rock-light: hsl(349, 70%, 56%);
    --color-lizard-dark: hsl(261, 73%, 60%);
    --color-lizard-light: hsl(261, 72%, 63%);
    --color-spock-dark: hsl(189, 59%, 53%);
    --color-spock-light: hsl(189, 58%, 57%);
    --color-medium-blue: hsl(214, 47%, 23%);
    --color-dark-blue: hsl(237, 49%, 15%);
    --color-score: hsl(229, 64%, 46%);
    --color-grayish-blue: hsl(229, 25%, 31%);
    --color-outline: hsl(217, 16%, 45%);
    --font-barlow: 'Barlow Semi Condensed', sans-serif;
}
/* 
grayish-blue = dark text
*/

html,
body {
    @apply antialiased flex flex-col h-full w-full font-barlow text-white;
}

button {
    @apply cursor-pointer;
}

#game-buttons {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='329' height='313'%3E%3Cpath fill='none' stroke='%23000' stroke-width='15' d='M164.5 9.27L9.26 122.06l59.296 182.495h191.888L319.74 122.06 164.5 9.271z' opacity='.2'/%3E%3C/svg%3E");
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-size: 80%;
		grid-template-columns: 140px 40px 40px 140px;
		grid-template-rows: 120px 130px 120px;
		grid-template-areas:
			' . scissors scissors . '
			' spock . . paper '
			' lizard lizard rock rock ';
	}

    .from-scissors-dark {
        grid-area: scissors;
        justify-self: center;
    }

    .from-spock-dark {
        grid-area: spock;
        justify-self: start;
    }

    .from-paper-dark {
        grid-area: paper;
        justify-self: end;
    }

    .from-lizard-dark {
        grid-area: lizard;
        justify-self: end;
    }

    .from-rock-dark {
        grid-area: rock;
        justify-self: start;
    }